.player {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 5px 5px rgb(124, 123, 123);
	padding: 1rem;
}
.player-1 .player__title {
	background-color: black;
	color: white;
	box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.507);
}

.player-2 {
	background-color: #0a0a0a;
	color: white;
}

.player-2 .player__title {
	background-color: white;
	color: black;
	box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.644);
}

.player__shape {
	padding: 1rem;
	font-size: 5rem;
	transition: all 1s;
}
.player__shape--display {
	animation: pop 0.2s forwards;
}

@keyframes pop {
	from {
		transform: scale(0);
	}
	top {
		transform: scale(1);
	}
}

.player-1 .player__shape {
	filter: drop-shadow(3px 3px 5px grey);
}
.player-2 .player__shape {
	filter: drop-shadow(3px 3px 3px rgba(255, 255, 255, 0.3));
}
.player__score {
	/* align-self: flex-start; */
	font-size: 1.9rem;
	color: red;
	/* transform: translateX(10%); */
}
.player__score--display {
	animation: pop-score 0.2s forwards;
}

@keyframes pop-score {
	0% {
		transform: scale(0) rotate(0);
	}
	50% {
		transform: scale(0.3) rotate(0);
	}
	100% {
		transform: scale(1) rotate(360deg);
	}
}

.game__button {
	width: 40%;
	padding: 1rem;
	font-size: 20px;
	font-weight: bold;
	background-color: transparent;
	border: 1px solid;
	outline: none;
}

.game__button:hover {
	background-color: black;
	color: white;
}
