.select__container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.select {
	width: 70px;
	margin: 0 20px;
	font-size: 2rem;
	border: none;
	outline: none;
	border-bottom: 1px solid red;
	color: red;
}
